    .badan {
        width: 25%;
        height: 25%;
        margin: 50px auto;
    }
    
    .badan-utama {
        width: 50%;
        height: 50%;
        margin-left: 38%;
        margin-top: 20%;
        background-image: url(loginn.jpg);
    }
    
    h1 {
        margin-left: 850px;
        margin-top: 50px;
    }